<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
     <%- include("header.ejs")%>
   
    <ul>
        <%for(i of content){%>
        
       <li>name: <%=i.name%></li>
       <li> price: <%=i.price%></li>
       <li> quantity: <%=i.quantity%></li><br/>
        <%}%>
    </ul>
    </div>
    <%- include("footer.ejs")%>
</body>
</html>